name: release

on:
  pull_request:
    branches:
      - master
    types:
      - closed

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: master
          fetch-depth: 0

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          server-id: github
          settings-path: ${{ github.workspace }}

#      - name: Build with Maven
#        run: mvn -B package --file pom.xml

      - name: Publish to GitHub Packages Apache Maven
#        run: mvn deploy -s $GITHUB_WORKSPACE/settings.xml
        run: |
          git config --global user.name "nickersan"
          git config --global user.email "nick.holt@btinternet.com"
          mvn -Dusername=$GITHUB_USERNAME -Dpassword=$GITHUB_TOKEN --batch-mode release:prepare release:perform -s $GITHUB_WORKSPACE/settings.xml
        env:
          GITHUB_USERNAME: ${{ github.username }}
          GITHUB_TOKEN: ${{ github.token }}
